[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "themes/basics"]
	path = themes/basics
	url = https://github.com/arjunkrishnababu96/basics.git
[submodule "beautifulhugo"]
	path = beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
